.ghost-loader {
    background-color: #888888;
    animation: grad 1.5s ease-in-out infinite;
}



@keyframes grad {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 8;
    }

    100% {
        opacity: 0.6;
    }
}